rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read;
      allow create, update: if request.auth != null && request.auth.uid == userId;
    }
    match /projects/{projectId} {
      allow read;
      allow create: if request.auth != null && request.resource.data.creator.uid == request.auth.uid;
      allow update, delete: if request.auth != null && resource.data.creator.uid == request.auth.uid;
    }
    match /projects/{projectId}/comments/{commentId} {
      allow read;
      allow create: if request.auth != null && request.resource.data.author.uid == request.auth.uid;
    }
  }
}
