@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 214 60% 50%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 188 65% 60%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 214 60% 50%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 211 15% 15%;
    --foreground: 210 40% 98%;
    
    --card: 211 15% 18%;
    --card-foreground: 210 40% 98%;
    
    --popover: 211 15% 18%;
    --popover-foreground: 210 40% 98%;
    
    --primary: 214 60% 50%;
    --primary-foreground: 210 40% 98%;
    
    --secondary: 211 15% 25%;
    --secondary-foreground: 210 40% 98%;
    
    --muted: 211 15% 25%;
    --muted-foreground: 210 40% 98%;
    
    --accent: 188 65% 60%;
    --accent-foreground: 211 15% 15%;
    
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    
    --border: 211 15% 25%;
    --input: 211 15% 25%;
    --ring: 214 60% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
